/* Stuff you should edit as needed */

.autovalid-form {
	position: relative;
}

.autovalid-form .progress-bar {
	width: 150px;
	height: 15px;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 15px;
	position: absolute;
	top: 10px;
	right: 10px;
	background: white;
	padding: 0;
	box-shadow: inset 0px 1px 1px rgba(0,0,0,.5), 0px 1px rgba(255,255,255,.3);
}

.autovalid-form .progress {
	background: #89c730;
	border-radius: 15px;
	height: 100%;
	width: 0;
	box-shadow: inset 0px 0px 1px rgba(0,0,0,.2);
}

a.back {
	position: absolute;
	bottom: 10px;
	left: 10px;
	color:#30a9c7;
	text-shadow: 0px 1px rgba(0,0,0,.2);
	background: url('https://raw.github.com/coopermaruyama/autovalid.js/master/Demo/back.png');
	width: 25px;
	height: 22px;
}
a.back:hover {
	opacity: 0.9;
}

/* Stuff you probably won't need to edit */
.autovalid-form .step {
	display: none;
}
.autovalid-form input[type=text], .autovalid-form input[type=email], .autovalid-form input[type=password] {
	outline-style: none;
	outline:none;
}
.autovalid-form input[type=text]:focus, .autovalid-form input[type=email]:focus, .autovalid-form input[type=password]:focus, .autovalid-form textarea:focus {
	box-shadow: 0px 0px 5px rgba(0,183,240,.5);
}
.autovalid-form input[type=text].success,.autovalid-form input[type=email].success,.autovalid-form input[type=password].success, .autovalid-form textarea.success  {
	background: white url('https://raw.github.com/coopermaruyama/autovalid.js/master/Demo/input-success-small.png') no-repeat 97% center;
	box-shadow: 0px 0px 4px rgba(10,240,10,.5);
}
.autovalid-form input[type=text].error,.autovalid-form input[type=email].error,.autovalid-form input[type=password].error, .autovalid-form textarea.error {
	background: white url('https://raw.github.com/coopermaruyama/autovalid.js/master/Demo/input-error-small.png') no-repeat 97% center;
	box-shadow: 0px 0px 4px rgba(240,10,10,.5);
}
.autovalid-form select.error {
	border: 1px solid red;
}
.autovalid-form .error-text {
	color: rgba(255,0,0,.75);
	font-weight: bold;
	font-size: 10px;
	margin: 0px auto !important;
}

.autovalid-form .checkbox.error-text {
	position:absolute;
}